/ArrayLIst.class
/BigandSort.class
/BinarySearch.class
/BinrayDemo.class
/BubleShort.class
/CheckNumber.class
/CopyArr.class
/DMatric.class
/DemoSubArray.class
/DemoTrapWater.class
/DiagonalSum.class
/Insert.class
/LeedCodePractice.class
/LinearSearch2.class
/Meximum.class
/PlusOne.class
/Reavers.class
/Revers.class
/Reverse.class
/Selection.class
/Spiral.class
/SpiralDemp.class
/Stock.class
/SubArr.class
/SubArrSum.class
/SubArray.class
/Sum3.class
/SumArr.class
/TrapWater.class
/TwichArr.class
/hello.class
/kadan.class
/linearSearch.class
/practiceArray.class
